@import 'mixins';
@import 'vars';

@include main;

section {
    @include clearfix;
    width: 100%;
    
}

header {
    width: 100%;
    height: 4em;
    
    nav {
        width: 95%;
        height: 100%;
        background-color: $head-Foot;
        float: left;

        ul{

            list-style: none;
            li{
                
                float: right;
                padding: 1.3em 4em;

                a{
                    text-decoration: none;
                    color: #fff;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .menu {
        width:5%;
        height: 100%;
        float: right;
        background-color: $orange;

        img {
            width: 60%;
            padding: .4em .4em;
            margin: .7em;
            height: auto;
        }

    }   
}

.intro {
    height: 40em;
    
    
    background: url(../slike/intro.jpg);
    background-size: cover;
    text-align: center;

    h1, h3, h4 {
        color: #fff;        
        background: rgba(55, 66, 73, 0.6);
        
        width: 100%;
    }

    h1 {
        font-weight: bold;
    } 
    
    h4 {
        margin-top: 40%;
    }
}



.filter {
    width: 100%;
    height: 5em;
    padding-top: 1em;

    .button {
        border: 1px solid $titles;
        float: right;
        color: $titles;
        border-radius: 60px;
        margin: 1em 2em;

        &:hover {
            background-color: $titles;
            color: #fff;
        }
    }

    a {
        padding: 1em;
        text-decoration: none;
    }
}

.content {
    background-color: $pozSec;
    display: inline-block;
    margin: 2em auto;

    img {
        height: 10em;
        border-radius: 50%;
    }

    h2 {
        text-transform: uppercase;
        color: $titles;
    }

    p {
        color: $orange;
    }

    .blok1 {
        
        width: 100%;
        height: 15em;
        
        .reg {
            width: 40%;
            float: left;
            

            img{
                float: right;
                opacity: .6;
                margin-right: 1em;
            }
        }

        .hov {
            display: none;
            float: right;
            width: 40%;
            text-align: left;
            padding: 2.5em 0;
            
        }

        &:hover {
            
            .hov {
                display: inline-block;
            }

            img {
                opacity: 1;
            }
        }
        
    }

    .blok2 {
        
        width: 100%;
        height: 15em;
        .reg {
            width: 40%;
            float: right;

            img{
                float: left;
                opacity: .7;
                margin-left: 1em;
            }
        }

        .hov {
            display: none;
            float: left;
            width: 40%;
            text-align: right;
            padding: 2.5em 0;
            
        }

        &:hover {
            
            .hov {
                display: inline-block;
            }

            img {
                opacity: 1;
            }
        }
        
    }

    .blok3 {
        
        width: 100%;
        height: 15em;
        .reg {
            width: 40%;
            float: left;

            img{
                float: right;
                opacity: .7;
                margin-right: 1em;
            }
        }

        .hov {
            display: none;
            float: right;
            width: 40%;
            text-align: left;
            padding: 2.5em 0;
        }

        &:hover {
            
            .hov {
                display: inline-block;
            }

            img {
                opacity: 1;
            }
        }
        
    }
}


.pricing {
    text-align: center;
    
    h1 {
        font-size: 2em;
        text-transform: uppercase; 
        color: $head-Foot;
        margin-bottom: 1.5em;
    }

    .pricingTable {
        width: 60%;
        margin: 3em auto;
        border-collapse: collapse;  
        
        th, td {
            padding: .5em;
        }

        .orange {
            background-color: $orange;
            color: #fff;
        }

        .darkCol{
            background-color: $head-Foot;
            color: #fff;
            font-weight: bold;
        }

        thead{
            border-right: 1px solid $head-Foot;
        }

        tbody{
            td{
                border: 1px solid $head-Foot;
            }
        }
    }

    .pricingButton {
            padding: 1em 2em;
        border-radius: 60px;
        color: $titles;
        border: 1px solid $zaHover;
        margin: 0 1em;
        cursor: pointer;

        display: none;}
}

.contact {

    background: $pozSec;

    h1 {
        font-size: 2em;
        text-transform: uppercase; 
        color: $titles;
        margin-bottom: 1.5em;
        text-align: center;
   }

   .mapHolder {
        float:left;
        width: 30%;
        margin: 1em;

        iframe {
			width: 100%;
		}
   }

   form {
       width: 60%;
       margin: 1em;
       float: right;
       padding: 1em;
       background: $orange;

       .contactInput {
           float: left;
           padding: 1em;
           margin: 1em;
       }

       select {
           width: 20%
       }

       .contactInput[type="text"] {
            float: right;
            width: 70%;
       }

       .contactInput[type="email"] {
           width: 95%;
       }

       textarea.contactInput{
           width: 95%;
       }
   }
}

footer {
    width: 100%;
    padding: 1em;
    text-align: center;
    background: $head-Foot;
    color: $zaHover;

    

    span{
        color: $orange;
    }
}